# Python standard ignores
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Generated Content (Narrator/Salomon)
*.mp3
*.txt
*.jpg

# Exceptions for Tests and Demos
!*_Test*
!*_demo*
!cuento_corto.txt
!sfxDrama/sounds/**
